body {
  margin: 0;
  padding: 0;
  font-family: Manrope;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.fade-in{ animation: fadeIn 5s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.zoome{animation: zoomed 3s;}
@keyframes zoomed {
  0%{
    height: 100%;
    width: 100%;
  }
  100%{
    height: 20%;
    width: 20%;
  }
}


.change{animation: changer 10s;}
@keyframes changer {
  0%{
  
    background-image: url('/public/images/img2.svg');
    
  }
  50%{
    background-image: url('/public/images/img1.svg');
   
  }
  100%{
   
    background-image: url('/public/images/img2.svg');
  }
}

a {
  display: block;
}
a:hover{
  color: #C5A052;
}
.bg{
  background-color: #191919;
}
.c1{
  color: #C5A052;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}
.c2{
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}
.c3{
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
}
.padd{
  padding-left: 15px;
}
.padd1{
  padding-bottom: 18rem;
}
.c4{
  color: #FFE0CE;
}
ul {
  margin: 0;
  margin-inline: unset;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 600px){
  .c3{
    font-size: 14px;
  }
  .padd1{
    padding-bottom:1rem ;
  }
}
@media screen and (max-width: 370px){
.c3{
  font-size: small;
}
}