body {
  margin: 0;
  padding: 0;
  font-family: Manrope;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
.wider{
  width: 100%;
  height: 60%;
  opacity: 0.6;
}
.back{
 
  background-image: url('/public/images/layout.svg');
  background-repeat: no-repeat;
  width: 79%;
 
  height: 120%;
  
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade-in{ animation: fadeIn 5s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fader{ animation: fade 3s infinite;
transition: 3s; }
@keyframes fade {
  0% { left: -100px;}
  100% { left: 0px; }
}


.zoome{animation: zoomed 3s;}
@keyframes zoomed {
  0%{
    height: 100%;
    width: 100%;
  }
  100%{
    height: 250px;
    width: 250px;
  }
}


.change{animation: changer 10s infinite;}
@keyframes changer {
  0%{
  
    background-image: url('/public/images/img3.svg');
    
  }
  25%{
    background-image: url('/public/images/img1.svg');
   
  }
  50%{
   
    background-image: url('/public/images/img4.svg');
  }
  100%{
    background-image: url('/public/images/layout.svg');
  }
}

a {
  display: block;
}
a:hover{
  color: #C5A052;
}
.card1{
  width: fit-content;
  height: 500px;
  border-radius: 12px;
  background-color: #FFE0CE;
 
}
.view{
  display: none;
}
.view1{
  display: block;
}
.pure{
  font-size: 30px;
  font-weight: 800;
}
.bg{
  background-color: #191919;
}
.c1{
  color: #C5A052;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}
.cp{
  color: #C5A052;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.c2{
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}
.c3{
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
}
.padd{
  padding-left: 15px;
}
.padd1{
  padding-bottom: 18rem;
}
.pim{
  color: #fff;
}
.c4{
  color: #FFE0CE;
}
.opcer{
  opacity: 0.6;
}
.abs{
  position: absolute;
  top: 70%;
  left: 0;
  color: #FFD47E;
 
  padding-left: 50px;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
}
.abs1{
  font-size: 58px;
}
.paddd{
  margin: 20px !important;
}
.abs2{
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

ul {
  margin: 0;
  margin-inline: unset;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px){
  .c3{
    font-size: 14px;
  }
  .padd1{
    padding-bottom:1rem ;
  }
  .card1{
    width: fit-content;
    height: fit-content;
  }
  .cp{
    color: #C5A052;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .view{
    display: block;
  }
  .view1{
    display: none;
  }
  .abs{
    position: absolute;
    top: 37%;
    left: 0;
    color: #FFD47E;
    font-size: 18px;
    padding-left: 50px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
  }
  .abs1{
    font-size: 18px;
  }
  .paddd{
    margin: 20px !important;
  }
  .abs2{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .wider{
    height: fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 370px){
.c3{
  font-size: small;
}
}